{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
  <h1 class="title">{{ .Site.Title }}</h1>
  <section class="about-list">
    <div class="title">
        <h1>
            Welcome to my Page!
        </h1>
    </div>
    <div class="main-section">
    <div class="subtitle">
        <h2>
            This website is broken down in the following way (for easy navigation)
        </h2>
    </div>
    <div class="list">
        <ul>
            <li><b>Home</b></li>
            <ul>
                <li>This is the current page. An overview of the website and some information about me</li>
            </ul>
            <br>
            <li><b>Workshop</b></li>
            <ul>
                <li>These are my own projects, all open sourced!</li>
            </ul>
            <br>
            <li><b>Resources</b></li>
            <ul>
                <li>This is a page of cool resources I've found and would like to share</li>
            </ul>
            <br>
            <li><b>Blog</b></li>
            <ul>
                <li>Thoughts, Instructionals, Guides, etc.</li>
            </ul>
            <br>
            <li><b>Contact</b></li>
            <ul>
                <li>Tell me your thoughts, ideas, and questions</li>
            </ul>
        </ul>
    </div>
</div>
</section>
<br>
<br>
<hr>
<br>
<br>
<section>
    <h1>About me</h1>
    <h2>Certifications</h2>
    <div class="row">
        <div class="column">
            <p>CompTIA A+</p>
            <img src="Images/CompTIA.png">
        </div>
        <div class="column">
            <p>Hackthebox Penetration Testing Track</p>
            <img src="Images/HTB.png">
        </div>
    </div>
    
</section>
</div>
{{ end }}